<!DOCTYPE html>
<html lang="en">

<div th:replace="~{frags :: html_head('404 Not Found')}"></div>

<body class="bg_muted">
    <div th:replace="~{frags :: navbar}"></div>
    <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
        <h1 class="text_danger p-3 mb-5 border" style="border-color: var(--ms-danger) !important;">404 | Not Found</h1>
        <div class="d-flex justify-content-center align-items-center gap-3">
            <a href="/photos" type="button" class="btn btn_primary rounded-0"
                sec:authorize="hasAnyAuthority('USER', 'ADMIN')">Photos</a>
            <a href="/categories" type="button" class="btn btn_primary rounded-0"
                sec:authorize="hasAuthority('ADMIN')">Categories</a>
            <a href="/messages" type="button" class="btn btn_primary rounded-0"
                sec:authorize="hasAuthority('ADMIN')">Messages</a>
        </div>
    </div>
</body>

</html>